<!-- Header Slider Start -->
<div id="headerSlider" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#headerSlider" data-slide-to="0" class="active"></li>
    <li data-target="#headerSlider" data-slide-to="1"></li>
    <li data-target="#headerSlider" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "slider/header-slider-1.jpg", :alt => "Royal Hotel" %>
      <div class="carousel-caption">
        <h1 class="animated fadeInRight">Nullam mattis</h1>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag "slider/header-slider-2.jpg", :alt => "Royal Hotel" %>
      <div class="carousel-caption">
        <h1 class="animated fadeInLeft">Lorem ipsum</h1>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag "slider/header-slider-3.jpg", :alt => "Royal Hotel" %>
      <div class="carousel-caption">
        <h1 class="animated fadeInRight">Phasellus ultrices</h1>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#headerSlider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#headerSlider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- Header Slider End -->
<!-- Welcome Section Start -->
<div id="welcome">
  <div class="container">
    <h3>Welcome to Royal Hotel</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas gravida sollicitudin turpis id posuere. Fusce nec rhoncus nibh. Fusce arcu libero, euismod eget commodo at, venenatis a nisi. Sed faucibus metus sed leo vulputate blandit.</p>
  </div>
</div>
<div id="amenities" class="home-amenities">
  <div class="container">
    <div class="section-header">
      <h2>Amenities & Services</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis, enim at venenatis tincidunt.
      </p>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 icons">
        <i class="icon icon-2"></i>
        <h3>Air Conditioner</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-3 col-sm-6 icons">
        <i class="icon icon-3"></i>
        <h3>Bathtub</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-3 col-sm-6 icons">
        <i class="icon icon-4"></i>
        <h3>Shower</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-3 col-sm-6 icons">
        <i class="icon icon-6"></i>
        <h3>Television</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-3 col-sm-6 icons">
        <i class="icon icon-7"></i>
        <h3>WiFi</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-3 col-sm-6 icons">
        <i class="icon icon-8"></i>
        <h3>Telephone</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-3 col-sm-6 icons">
        <i class="icon icon-9"></i>
        <h3>Mini Bar</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="col-md-3 col-sm-6 icons">
        <i class="icon icon-10"></i>
        <h3>Kitchen</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
</div>
<!-- Amenities Section Start -->

<!-- Room Section Start -->
<div id="rooms">
  <div class="container">
    <div class="section-header">
      <h2>Our Rooms</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis, enim at venenatis tincidunt.
      </p>
    </div>
    <div class="row">
      <%= render :partial => "rooms/room", collection: @rooms %>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
<div id="subscribe">
  <div class="container">
    <div class="section-header">
      <h2>Subscribe for Special Offer</h2>
      <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis, enim at venenatis tincidunt.
      </p>
</div>
  <div class="row">
    <div class="col-12">
      <div class="subscribe-form">
          <form>
              <input type="email" required="required" placeholder="Enter your email here" />
              <button>submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
<div id="call-us">
  <div class="container">
    <div class="section-header">
      <h2>Click Below to Call Us</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in mi libero. Quisque convallis, enim at venenatis tincidunt.
      </p>
    </div>
    <div class="row">
      <div class="col-12">
        <a href="tel:+12345678900">+1 234 567 8900</a>
      </div>
    </div>
  </div>
</div>
