<div class="col-md-12">
  <div class="row">
    <div class="col-md-3">
      <div class="room-img">
        <div class="box12">
          <%= image_first room %>
          <div class="box-content">
            <h3 class="title"><%= room.room_view.name %> </h3>
            <ul class="icon">
              <li><a href="#" data-toggle="modal" data-target="#modal-id-<%= room.id %>"><i class="fa fa-link"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <div class="room-des">
          <h3><%= link_to room.name, "#" %></h3>
          <p><%= room.room_view.name %></p>
          <p><%= room.description %></p>
          <ul class="room-size">
            <li><i class="fa fa-arrow-right"></i><%= t ".size" %> <%= room.size %> </li>
            <li><i class="fa fa-arrow-right"></i><%= t ".bed" %>  <%= room.bed %> </li>
          </ul>
          <ul class="room-icon">
            <li class="icon-1"></li>
            <li class="icon-2"></li>
            <li class="icon-3"></li>
            <li class="icon-4"></li>
            <li class="icon-5"></li>
            <li class="icon-6"></li>
            <li class="icon-7"></li>
            <li class="icon-8"></li>
            <li class="icon-9"></li>
            <li class="icon-10"></li>
          </ul>
        </div>
    </div>
    <div class="col-md-3">
      <div class="room-rate">
        <h3><%= t ".from" %></h3>
        <h1><%= number_to_currency(room.price, locale: :en, :delimiter => ",") %></h1>
        <% if logged_in? %>
          <button class="btn btn-block btn-action btn-book" data-toggle="modal" data-target="#exampleModal<%= room.id %>"><%= t ".book_now" %></button>
        <% end %>
      </div>
    </div>
  </div>
  <hr>
</div>
<div class="modal fade" id="modal-id-<%= room.id %>" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= t ".iamges_room" %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% room.images.with_attached_image.each do |image| %>
          <%= image_tag image.display_image if image.image.attached? %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal<%= room.id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for @booking_room do |f| %>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Booking Room:</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: t(".placeholder_name")%>
          </div>
          <div class="form-group">
          <%= f.label :phone_number %>
          <%= f.text_field :phone_number, class: "form-control", placeholder: t(".placeholder_phone")%>
          </div>
          <div class="form-group">
          <%= f.label :from_date %>
          <%= f.text_field :from_date, class: "form-control", placeholder:  t(".placeholder_date") %>
          </div>
          <div class="form-group">
          <%= f.label :to_date %>
          <%= f.text_field :to_date, class: "form-control", placeholder: t(".placeholder_date")%>
          </div>
          <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
          </div>
          <%= f.hidden_field :room_id, value: room.id %>
        </div>
        <div class="modal-footer">
          <%= f.submit t(".btn_title"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
