<%= form_tag rooms_path, method: :get do %>
<div id="search" style="background: #f2f2f2;">
  <div class="container">
    <div class="form-row">
      <div class="control-group col-md-3">
        <div class="form-group">
          <%= label_tag t(".label_tag_room_view") %>
            <div class="input-group date">
            <%= select_tag "room_view_id", options_from_collection_for_select(@room_views, :id, :name, params[:room_view_id]), include_blank: true, class: "form-control" %>
                <div class="input-group-append">
                  <div class="input-group-text"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="control-group col-md-3">
        <div class="form-group">
          <%= label_tag t(".label_tag_form_date") %>
          <div class="input-group date">
            <%= text_field_tag "from_date", params[:from_date], class: "form-control datetimepicker-input" %>
            <div class="input-group-append">
              <div class="input-group-text"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group col-md-3">
        <div class="form-group">
          <%= label_tag t(".label_tag_to_date") %>
          <div class="input-group date">
            <%= text_field_tag "to_date", params[:to_date], class: "form-control datetimepicker-input" %>
            <div class="input-group-append">
              <div class="input-group-text"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group col-md-3">
        <%= submit_tag t(".btn_search"), class: "btn btn-block" %>
      </div>
    </div>
  </div>
</div>
<% end %>
<div id="rooms">
  <div class="container">
    <div class="section-header">
      <h2><%= t ".title" %></h2>
      <p> <%= t ".service_html" %> </p>
    </div>
    <div class="row">
      <%= render @rooms %>
    </div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
