<% provide :title, t(".provide_title") %>
<div class="card room-list">
  <div class="card-header border-transparent">
    <h3 class="card-title"><%= t ".title" %></h3>

    <div class="card-tools">
      <button type="button" class="btn btn-tool" data-card-widget="collapse">
        <i class="fas fa-minus"></i>
      </button>
    </div>
  </div>
  <!-- /.card-header -->
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table m-0">
        <thead>
          <tr>
            <th><%= t ".id" %></th>
            <th><%= t ".name" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <%= render @room_views %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer clearfix">
    <%= link_to t(".create_btn"), new_admin_room_view_path, class: "btn btn-sm btn-info float-left" %>
  </div>
<%== pagy_bootstrap_nav(@pagy) %>
</div>
