<header id="header">
  <a href="index.html" class="logo"><%= image_tag "logo.jpg", :alt => "logo" %></a>
  <div class="phone"><i class="fa fa-phone"></i>+1 234 567 8900</div>
  <div class="mobile-menu-btn"><i class="fa fa-bars"></i></div>
  <nav class="main-menu top-menu">
    <ul>
        <li><%= link_to t(".home"), root_path %></li>
        <li><%= link_to t(".room"), rooms_path %></li>
        <li><a href="#"><%= t ".booking" %></a></li>
        <% if logged_in? %>
          <li><%= link_to t(".account"), "#" %></li>
          <li><%= link_to t(".log_out"), logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to t(".log_in"), login_path %></li>
          <li><%= link_to t(".sign_up"), signup_path %></li>
        <% end %>
    </ul>
  </nav>
</header>
